src/test/resources/schemas/storeSchema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="store">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="books">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="book">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="author"/>
                                        <xs:element type="xs:string" name="category"/>
                                        <xs:element type="xs:integer" name="price"/>
                                        <xs:element type="xs:string" name="title"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="greetingCards">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="greetingCard">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="occasion"/>
                                        <xs:element type="xs:string" name="brand"/>
                                        <xs:element type="xs:integer" name="price"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="journals">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="journal">
                                <xs:complexType>
                                    <xs:sequence></xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="pens">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="pen">
                                <xs:complexType>
                                    <xs:sequence></xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>